<nav>
    <ul>
      <li><a routerLink="registration" [class.activated] = "currentUrl == '/registration'"><i class="material-icons">face</i></a></li>
      <li><a routerLink="" [class.activated] = "currentUrl == '/'"><i class="material-icons">supervised_user_circle</i></a></li>
      <li><a routerLink="events" [class.activated] = "currentUrl == '/events'"><i class="material-icons">date_range</i></a></li>
      <li><a routerLink="event" [class.activated] = "currentUrl == '/event'"><i class="material-icons">event</i></a></li>
    </ul>
</nav>
